@charset "utf-8";
html { box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
   /* background-color: #faf2e4;*/
    margin: 0 15% 0;
    font-family: Georgia,sans-serif;
    font-size: 100%;
    line-height:175%;
    background: #faf2e4 url() no-repeat center 100px fixed;
    }

 /**link stles*/
 a:link  {
    color: #939;}
a:visited { 
    color: #937393/*#DC6903*/; }
a:focus, a:hover    {
    color: #c700f2;
background-color: #fff;}
a:active { 
    color: #f0f/*#F9AB33*/;
    background-color: #fff;
 }
a{
 text-decoration: none;
 border-bottom: 1px dotted;
 padding-bottom: .2em;
  }

/**header syles*/
header{
    margin-top: 0;
    color:lightslategray;
    text-align: center;
    height: 15em;
    background-color: rgba(255, 255, 255,0.5);
}
header h1{ 
    font: bold 1.5em "Marko One",Georgia,serif;
    /**font-family: "Marko One",Georgia, serif;
    font-weight: normal;*/
    text-transform: uppercase;
    color: #939;
    text-shadow: 0.05em 0.05em 0.1em lightslategray;
    margin: 1.5em;
 }
header p{
    margin-top: -12px;
    font-style: italic;
    font-size: 1.2em;
}

 /**nav styles*/
nav,footer{
        background-color: #783f27;
        font-family: Verdana, sans-serif;
     }

nav ul{
        margin-top: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content:center;
}
nav ul li a:link, nav ul li a:visited {
        color: #F9AB33;
 }
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
        color: #fff;
      }
nav ul li {
          font-size: .8em;
          text-transform: uppercase;
          letter-spacing: .2em;
      }
nav ul li a {
    display: block;
    border: 1px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
}
/**main style*/
main{
    font-family: 'Stint Ultra Expanded', cursive;
    background-color: white;
    line-height: 1.8em;
    color: #555;
    padding: 1em;/*main padding*/
    border: double 4px #EADDC4;/*mainborder*/
    border-radius: 25px;/*mainborderradius*/
    margin: 2.5%;
}
/* ul styles*/
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#info p {
    font-style: italic;
}
dt,li{
    font-weight: bold;
}
strong  {
    font-style: italic;
}

h3,hr{text-align: center;
}

h3{color: #7a0002;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-top: 1px solid;
    border-left: 3px solid;
    padding-left: 1em;
    }
h2  {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    color: #c60;
}
h2 + p  {
    text-align: center;
    font-style: italic;
}