@charset "utf-8";
html { box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: sans-serif;
    line-height: 1.75em;
    }
    h1,h3,hr{text-align: center;
            }
h1{ 
    font: bold "Marko One",Georgia,serif;
    /**font-family: "Marko One",Georgia, serif;
    font-weight: normal;*/
    text-transform: uppercase;
    color: olive;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
    text-shadow: 0.05em 0.05em 0.1em lightslategray;
    }
h3{color: #d1633c;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    }
hr{ 
color: gray; 
border-top: dotted 5px ;
width: 5%;
}
ul{
    list-style-type: none;
}
/**link styles*/
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }
a{text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: .2em;}